.book{
    border:2px solid #0238D5;
    color:#0238D5;
    border-radius: 20px;
    padding:20px;
   
    &:hover{
        cursor: pointer;
    }
}
._img{
        padding:20px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width:400px;
    }
._title{
        text-align: center;
        color:#0238D5;
        font-weight: bold;
    }